:root {
  --background-color: #F5F7F8;
  --big-font: 3.3rem;
  --h2-font: 2.6rem;
  --p-font: 0.9rem;
  --text-color: #302e29;
}

.Reservation-Form {
  width: 100%;
  background: linear-gradient(to bottom, lightgreen, rgba(235, 235, 105, 0.882));
  height: 85vh;
  margin-top: -18px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 20px;
  /* border-top-left-radius: 20px; */
  
}
.reservation-section {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  width: 80%;
  margin-left: 130px;
  /* margin: 0 auto; */
}

.reservation-details h2 {
 font-size: var(--h2-font);
}

.form {
  width: 450px;
}

.form p {
  font-size: var(--p-font);
}

.form form {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 23px 20px;
  border-radius: 20px;
  /* outline: 2px solid #a09b8e67; */
  width: 250px;
  position: relative;
  left: 180px;
  top: 9px;
}

label {
  margin-bottom: 7px;
  margin-left: 13px;
  color: var(--background-color);
  font-size: var(--p-font);
  position: relative;
  top: -5px;
  
}

form input, select {
  width: 90%;
  padding: 8px 3px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  /* outline: 2px solid #a09b8e67; */
  margin-bottom: -8px;
  
}

form button {
  width: 110px;
  display: block;
  margin-left: 13px;
  padding: 8px;
  border-radius: 10px;
  /* outline: 2px solid #a09b8e67; */
  /* outline: 2px solid var(--text-color); */
  border: none;
  margin-top: 13px;
  background-color: var(--text-color);
  color: var(--background-color);
}

form button:hover {
  background-color: transparent;
  outline: 2px solid var(--text-color);
}

@media (max-width: 768px) {
  .Reservation-Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 910px;
    margin-top: 10px;
    padding: 15px 0px;
    /* border-top-left-radius: 60px; */
    /* border-top-right-radius: 80px; */
  }

  .reservation-section {
  display: grid;
  grid-template-columns: auto;
  margin: 0px auto;
  position: relative;
    top: -38px;
  /* align-items: center; */
  /* width: 80%; */
  /* margin-left: 130px; */
  }

 .Reservation-Form #reservation-section {
    display: block;
    margin: 0 auto;
    padding: 30px 0px;
  }

  .form {
    display: block;
    position: relative;
    /* left: -155px; */
    left: -120px;
    /* margin: 0 auto; */
  }

  .reservation-details h2, p {
    text-align: center;
  }
}

