/*
   Custom CSS Variables
   Feel free to adjust values for your specific design needs
*/
:root {
  --background-color: #F5F7F8;   /* Overall background color */
  --big-font: 3.3rem;            /* Large font size */
  --h2-font: 2.6rem;             /* Heading 2 font size */
  --p-font: 0.9rem;              /* Paragraph font size */
  --text-color: #302e29;         /* Text color */
}

/* About section styling */
.about {
  width: 100%;
  background: #add8e6;            /* Light blue background color */
  border-top-left-radius: 100px; /* Rounded top left corner */
}

.about .about-us {
  width: 80%;
  margin: 0px auto;
  height: 520px;
  display: flex;
  gap: 80px;
  align-items: center;
}

/* About Us Image styling with hover effect */
.about-us-img img {
  transition: 0.4s ease;
}

.about-us-img img:hover {
  transform: translateX(8px);
}

/* Styling for Heading 2 and Paragraph in About Us section */
.about-us h2 {
  font-size: var(--h2-font);
}

.about-us p {
  font-size: var(--p-font);
  line-height: 30px;
}

/* Media query for responsive design at max-width: 768px */
@media (max-width: 768px) {
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 800px;  /* Adjusted height for smaller screens */
    /* height: auto; */  /* Uncomment if you want height to adjust automatically */
  }

  .about .about-us {
    display: flex;
    flex-direction: column;
    /* height: 700px; */
    /* height: auto; */
    text-align: center;
  }

  /* Responsive styling for About Us Image */
  .about-us-img img {
    width: 200px;
    /* margin-top: 10px; */
    position: relative;
    top: 44px;
  }
}
